body {
    text-align:center;
    background-color: darkgrey;
}
canvas { 
    border:10px groove #ff0000
}
h1 { 
    font-size:50px; 
    text-align: center; 
    margin: 0; 
    padding-bottom: 25px; 
    text-decoration: double; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    color: #ff0062;
}
